{{>header}}
<h1>Get stast for a new Team</h1>

<form action="/teams" method="POST">
    <input type="text" name="team" id="" placeholder="Team name">
    <input type="text" name="teamImage" id="" placeholder="image url">
    <button>Submit</button>
</form>

{{footer}}